body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: navy;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    color: white;
}

.header img {
    width: 40px;
    height: 40px;
}


.header, h1 {
    color: white;
}

.hero h1, p{
    color: white;
}


.hero {
    background-color: navy;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.hero img {
    width: 400px;
    height: 300px
}

.usp-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 40px;  
}

.usp-section h1 {
    margin-top: 0px;
}
.bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.logo-subtext {
    display: flex;
    flex-direction: column; 
    width: 100px;
    height: 100px;
    text-align: center;
    height: auto
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 100px;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: large;
}

.bottom-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.CTA-container {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 40px;
    border-radius: 25px;
}

h3, h4 {
    color: white
}

.footer {
    display: flex;
    background-color: navy;
    justify-content: center;
}
/* To-dos:

- Make sure that positional ratio of elements do not move when zooming in and out of page